@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #755139FF;
  --secondary-color: #D4B996FF;
}

body {
  background-color: var(--primary-color);
}

html {
  font-size: 75.5%;
}

.header {
  width: 100%;
  height: 500px;
  color: var(--secondary-color);
  box-shadow: 0 5px 10px var(--secondary-color);
  display: flex;
  align-items: center;
  position: relative;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 5), rgba(0, 0, 0, 5), url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pexels.com%2Fsearch%2Flibrary%2F&psig=AOvVaw2oI33WCP6Lt55MCBjUxsL8&ust=1674977354021000&source=images&cd=vfe&ved=0CA8QjRxqFwoTCMjPrOLe6fwCFQAAAAAdAAAAABAE"));
  clip-path: circle(60% at left 300px);
  z-index: -1;
}

.row2 {
  position: absolute;
  top: 10px;
  right: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header img {
  margin-top: 10px;
  width: 250px;
}

.row1 h1 {
  font-size: 50px;
  text-align: center;
  margin-left: 100px;
  font-family: 'Poppins', sans-serif;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search input {
  outline: 0;
  border: 0;
  width: 350px;
  height: 25px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  padding: 2px;
}

.search button {
  border: none;
  outline: none;
  height: 29px;
  margin-top: 10px;
}

.container {
  width: 65%;
  margin: 0 auto;
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
  grid-gap: 10px;
  box-sizing: border-box;
}

.card {
  background-color: var(--secondary-color);
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 10px;
  box-shadow: 0 5px 5px rgba(212, 185, 150, .5);
  text-align: center;
  position: relative;
  transition: .5s;
  width: 85%
}

.card:hover {
  transform: scale(0.9);
  background-color: rgba(255, 255, 255, 0.8);
}

.card img {
  width: 100%;
  height: 200px;
  border-radius: 5px;
}

.card .bottom {
  display: flex;
  flex-direction: column;
}

.card .bottom .title {
  font-size: 14px;
  margin-bottom: 5px;
}

.card .bottom .amount {
  /* position: absolute; */
  bottom: 20px;
  right: 10px;
  left: 10px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 10px;
  font-weight: bold;
  padding: 5px;
}

.overlay {
  min-height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2))
}

.overlay-inner {
  background: white;
  width: 700px;
  height: 550px;
  padding: 3px;
  box-sizing: border-box;
  font-size: 10px;
  position: relative;
  overflow: hidden;
}

.overlay-inner .close {
  position: absolute;
  top: 3px;
  right: 3px;
  border: none;
  outline: none;
  font-size: 20px;
background-color: transparent;
}

.overlay-inner .inner-box {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.overlay-inner .inner-box img {
  width: 150px;
  height: 200px;
  margin-right: 20px;
}

.overlay-inner .inner-box h3 {
  margin-top: 10px;
  color: green;
}

.overlay-inner .inner-box h4 {
  margin-top: 10px;
  color: blue;
}
.overlay-inner .inner-box  button {
  border: none;
  outline: none;
  width: 60px;
  border-radius: 2px;
  background-color: aqua;
  color: white;
  font-weight: bold;
  padding: 2px;
  margin-top: 20px
}

.overlay-inner .description {
  margin-top: 10px;
  text-align: justify;
  font-size: 15px;
}